<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="liff-starter.js"></script>
    <title>Cafe Nomad Helper</title>
</head>
<body>
    <div>
		<p><label id="username"></label></p>
		<p><button id="sendMessage" onclick="sendmsg()">送出訊息</button></p>
	</div>
<script>
    //init LIFF
	liff.init({
	    liffId: "1234567890-abcedfgh" // use own liffId
    }).then(() => {
    // Start to use liff's api
    }).catch((err: LiffError) => {
    // Error happens during initialization
        console.log(err.code, err.message);
	});
	function sendmsg(){
        liff.sendMessages([
	    	{
		        type: 'text',
                text: 'liff send message test!'
            }
		]);
	}
</script>
</body>
</html>